<mat-toolbar color="primary">
  <span>
    <a class="title" routerLink="/">Demo Day #57</a>
  </span>
  <div class="spacer"></div>
  <a mat-button routerLink="/intro">Introduction</a>
  <a mat-button routerLink="/reusable-template">Reusable Template</a>
  <a mat-button routerLink="/conditional-rendering">Conditional Rendering</a>
  <a mat-button routerLink="/lazy-loading">Lazy Loading</a>
</mat-toolbar>
