<div class="container">
  <div class="title">
    <h2>Defining a Template using ng-Template</h2>

    <button mat-raised-button (click)="showTemplate = !showTemplate">
      Toggle Template
    </button>
  </div>

  <ng-container *ngIf="showTemplate; then helloTemplate"> </ng-container>

  <ng-container *ngTemplateOutlet="helloTemplate"> </ng-container>

  <ng-template #helloTemplate>
    <p>Say Hello</p>
  </ng-template>
</div>
