<div class="container">
  <div class="title">
    <h2>Conditional rendering using ng-Template</h2>

    <button mat-raised-button (click)="hanndleToggleLoading()">
      Toggle Loading
    </button>
  </div>

  <ng-container *ngIf="isLoading; then loading; else helloTemplate"></ng-container>

  <ng-template #loading>
    <mat-spinner mode="indeterminate" color="primary"></mat-spinner>
  </ng-template>

  <ng-template #helloTemplate>
    <h1>Hello, John. Welcome !</h1>
  </ng-template>
</div>
