<div class="container">
  <div class="title">
    <h2>Reusable Template using ng-Template</h2>
  </div>

  <!-- Loader used for a case 1: fet ching users -->
  <ng-container *ngTemplateOutlet="loading"></ng-container>

  <!-- Loader used for a case 2: fetching user data -->
  <ng-container *ngTemplateOutlet="loading"></ng-container>

  <ng-template #loading>
    <mat-spinner mode="indeterminate" color="primary"></mat-spinner>
  </ng-template>
</div>

<div class="container">
  <ng-container
    *ngTemplateOutlet="helloTemplate; context: { userName: 'John' }"
  ></ng-container>

  <ng-template #helloTemplate let-name="userName">
    <h1>Hello, {{ name }}. Welcome !</h1>
  </ng-template>
</div>
